.container {
    display: flex;
    width: 100vw;
    padding: 96px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.container_wind {
    max-width: 100%;
    width: 400px;
}

.container_wind_title {
    color: var(--Gray-900, #101828);
    text-align: center;
    /* Display sm/Semibold */
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px; /* 126.667% */
}

.container_wind_dflex {
    display: flex;
    align-items: center;
    justify-content: end;
}

.container_wind_dflex_forgot {
    color: var(--Gray-500, #667085);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    margin-top: 16px;
}

.container_wind_or {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.container_wind_or hr {
    width: 100%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    border: 0 none;
    background: var(--Gray-200, #EAECF0);    
}

.container_wind_or h5 {
    color: var(--Gray-500, #667085);
    text-align: center;
    /* Text sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0px 8px 0px 8px;
}

.container_wind_reg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.container_wind_reg h4 {
    color: var(--Gray-500, #667085);
    /* Text sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.container_wind_reg a {
    color: var(--Gray-600, #475467);
    /* Text sm/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    margin-left: 4px;
}

.container_wind_google {
    background-color: white;
    color: #98A2B3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
}

.container_wind_google img {
    margin-right: 12px;
}

.container_wind_google strong {
    margin-left: 4px;
    color: #344054;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
}