.main {
    padding: 0 0 0 28px;
}

.main_el {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 16px;
}

.main_el_button, .main_el_button_drag {
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    margin-right: 8px;
    margin-top: 0;
    padding: 0;
    background: #EAECF0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    opacity: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.h1_container {
    width: max-content;
    display: flex;

}

.main_el_button_drag {
}

.main_el_input {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;    
}

.main_el h1 {
    width: max-content;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0;
    cursor: pointer;
    color: #98A2B3;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.main_el_content h1:hover {
    color: black;
}

.main_el_input:focus {
    background: none;
    border: none;
    padding: 0;
    outline: none;
    border-radius: 0;
}

.main_el_content {
    width: 80%;
    height: min-content;
    display: flex;
}

.main_el:hover .main_el_button, .main_el:hover .main_el_button_drag {
    opacity: 1;
}